mkdocs
mkdocs-material
mkdocs-print-site-plugin          # gives you the beautiful one-click "Print entire site" page
mkdocs-awesome-pages-plugin       # makes navigation ordering super clean
mkdocs-minify-plugin              # makes the site load lightning-fast (keep it!)